@model Gift

<table class="table">

    <tbody>
        <tr>
            <td asp-display-for="@Model.Id">ID: </td>
            <td asp-display-for="@Model.Title">Title: </td>
            <td asp-display-for="@Model.Description">Description: </td>
            <td asp-display-for="@Model.Url">Url: </td>
        </tr>
    </tbody>
</table>