@{
    Layout = "_Layout";
}
<head>
    <title> My Title</title>
</head>
<body>
    <header>here is a header</header>
    <nav>here is a nav</nav>
    <section>here is a section</section>
    <div> here is a div</div>
    <p>here is a paragraph</p>
    <footer>here is a footer</footer>

    <b>this should be bold</b>
    <u>this should be underlined</u>
    <h1>header 1</h1>
    <h2>header 2</h2>
    <h3>header 3</h3>
    <input type="text"/><br />
    <a href="www.google.com">Google</a>
    <button>Click me</button><br />
</body>
