@model User

<table class="table">

    <tbody>
        <tr>
            <td asp-display-for="@Model.Id">First ID: </td>
            <td asp-display-for="@Model.FirstName">First Name: </td>
            <td asp-display-for="@Model.LastName">Last Name: </td>
        </tr>
    </tbody>
</table>